.header{
  background-color: #888;
  width: 100%;
  display: flex;
}

.monthNavContainer{
  display: flex;
  justify-content: center;
}

.monthNav{

}

.dayReport {
  border-collapse: collapse;
  width: 100%;
}

.Closed{
  background-color: red;
}

.Open{
  background-color: green;
}

.Expected, .Mechanical, .Delayed{
  background-color: yellow;
  color: black;
  width: 80px;
}

.Foot{
  background-color: purple;
  width: 80px;
}

.Weather{
  width: 55px;
  background-color: orange;
}

.dayReport th, .dayReport td {
  border: 1px solid #ccc; /* Add borders to cells */
  padding: 8px; /* Add padding to cells for spacing */
  text-align: center; /* Center-align text in cells */
  width: 100%;
  white-space: wrap; /* Prevent text wrapping */

}

/* Style for the table header (th) */
.dayReport th {
  background-color: #f2f2f2; /* Background color for header cells */
  font-weight: bold;
}

.arrow {
  border: solid;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}


/* Calendar */

.Calendar{
  margin: 3%;
}

#reportcardLinebreak{
  display: none;
}

.weekdays{
  padding: 10px 0;
  background: orangered;
  margin: 0;
}

.weekdays li{
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size: 12px;
}
.days{
  padding: 10px 0;
  background: orange;
  margin: 0;
}

.days li{
  border: solid;
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  height: 70px;
  text-align: left;
  font-size: 12px;
}

/* Calendar Media Queries */
@media screen and (max-width: 768px){

  #headerTitle {
    font-size: 11px;
  }

  #reportcardLinebreak{
    display: unset;
  }
  .days li {
    vertical-align: top;
    width: 13%;
    font-size: 6px;
    text-wrap: wrap;
  }
}

#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem; */
  }

/* 
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
/* 
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
